body {
	background-color: #EAECEE;
}
h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
h3 {
	color: white;
}
#faltas {
	padding-top: 5px;
	padding-left: 30px;
}
table {
	margin-top: 30px;
}
table{
	background-color: white;
}
a#btn-remover {
	height: 30px;
	color: white;
	padding-top: 3px;
	font-weight: bold;
}
